{% load static %}
<footer class="footer">
    <div class="inner--footer">
        <div class="social--links">
            <li class="social--items"><a href=""><img id="footer--pic" src="{% static 'images/github.png' %}" alt=""></a></li>
            <li class="social--items"><a href=""><img id="footer--pic" src="{% static 'images/linkdin.png.' %}" alt=""></a></li>
            <li class="social--items"><a href=""><img id="footer--pic" src="{% static 'images/github.png.' %}" alt=""></a></li>

        </div>
    </div>


</footer>