{% extends 'base/main.html '%}
{% load static %}



    {% block content %}

    

    <section class="hero">
        <div class="hero--content">
            <div class="hero--content--intro">
            <img id="profile_pic" src="{% static 'images/tejas9.jpg' %}" alt="">
            <h1 class="intro--name">Tejas <br> Nirmal</h1>
            </div>
            <div class="hero--content--subheadline">
                <h3 class="description">Python Fullstack Developer</h3>
                <p class="slogan">Learn From Errors and build new things </p>
            </div>
        </div>

        

    </section>

<section class="container  section--2">
        <h3 class="title">My Projects</h3>
    
    <div class="project--wrapper">
        {% for project in projects %}
        <div class="project--column">
            <a href="{% url 'project' project.id %}">
            <img class="project--thumbnail" src="{{project.thumbnail.url}}" alt="">
            </a>
            <div class="project--body">
                <h4>{{project.title}} </h4>
            </div>
        </div>
        {% empty %}
        <h3>There Are No Projects in database.....</h3>
        {% endfor %}

    </div>

    <div class="about--wrapper">
        <h3>More About Me</h3>
        <p>I am a Python full stack Web-Developer. I build projects to learn from my past mistakes and build new awesome things. I use HTML & CSS for the front end purpose and Python for backend. I'm like intermediate in Frontend but i can build user friendly websites through that. </p>
        <p>Django is a high-level Python web framework that enables rapid development of secure and maintainable websites. Built by experienced developers, Django takes care of much of the hassle of web development, so you can focus on writing your app without needing to reinvent the wheel..</p>
    </div>
   

</section>
    <section class="section--1">
    <div class="skills--container">
        <h3>Skills</h3>

        {% for skill in detailedSkills %}
        <div class="skill--wrapper">
            {% if skill.logo %}
                <img class="skill--logo" src="{{skill.logo.url}}" alt="">

            {% endif %}
            <div>
            <h5>{{skill.title}}</h5>
            <p>{{skill.body}}</p>
             </div>

        </div>
        {% endfor %}

       

        <h3>Other Skills</h3>
        <div class="other--skills--wrapper">
            {% for skill in skills %}
            <div class="skill--tag">
                <span>{{skill.title}}</span>
            </div>
            {% endfor %}
    
    
    
        </div>

    </div>

  

</section>

{% endblock content %}


    

    




